.contact {
    .container {
        position: relative;
        bottom: -170px;
    }

    &-form {
        background: var(--color-white);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 30px;
        margin-top: 20px;
        padding: 60px;

        &-desc {
            width: 50%;

            input,
            label,
            textarea {
                display: block;
                width: 100%;
            }

            input,
            textarea {
                border: 0;
                border-bottom: 1px solid var(--color-silver);
                padding: 6px 0 10px;
                font-family: inherit;
                font-weight: 400;
                font-size: var(--font-size-large);
                line-height: 21px;
                color: var(--color-cod-gray);
                resize: none;

                &.ng-invalid.ng-touched {
                    border-bottom-color: red;
                }
            }

            label {
                font-family: inherit;
                font-weight: 400;
                font-size: var(--font-size-xx-small);
                line-height: 14px;
                color: var(--color-dark-gray);
                padding-top: 50px;
            }

            .button-raised {
                color: var(--color-black);
                font-family: inherit;
                font-weight: 500;
                font-size: var(--font-size-medium);
                line-height: 18px;
                text-align: center;
                margin-top: 50px;

                &:disabled {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }
    }

}

@media only screen and (max-width: 830px) {
    .contact {
        margin-top: -70px;

        .container {
            bottom: -140px;
        }

        &-form {
            padding: 24px;

            &-desc {
                width: 100%;
            }

            label {
                padding-top: 20px;
            }

            textarea {
                height: 38px;
            }
            .button-raised {
                margin: 40px auto 0;
                display: block;
            }
        }
    }

}