.footer {
    background: var(--color-black);

    &-contact {

        p {
            font-family: inherit;
            font-weight: 400;
            font-size: var(--font-size-medium);
            line-height: 180%;
            color: var(--color-dark-gray);
        }

        .text {
            font-family: inherit;
            font-size: var(--font-size-medium);
            line-height: 180%;
            color: var(--color-white);
        }
    }

}

.footer-information {
    display: flex;
    padding-top: 300px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;

    &-text {
        font-family: inherit;
        font-weight: 500;
        font-size: var(--font-size-x-large);
        line-height: 28px;
        color: var(--color-white);
    }
}

.footer-contact {
    width: 50%;
}

.nav-link {
    font-family: inherit;
    font-weight: 500;
    font-size: var(--font-size-medium);
    line-height: 300%;
    color: var(--color-dark-gray);
    text-decoration: none;
}

.copyright {
    padding: 15px 0 20px;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: var(--font-size-xx-small);
    line-height: 14px;
    color: var(--color-emperor);
    border-top: 1px solid var(--color-emperor);
    margin-top: 115px;
}

@media only screen and (max-width: 830px) {
    .footer {
        &-information {
            flex-wrap: wrap;
            padding-top: 190px;
        }

        &-contact {
            width: 100%;
            margin-bottom: 100px;

            p {
                font-size: var(--font-size-x-small);
            }
        }

        &-main {
            width: 50%;

            &-text {
                font-size: var(--font-size-larger);
            }
        }

        .nav-link {
            font-size: var(--font-size-x-small);
        }
    }

    .copyright {
        margin-top: 64px;
    }
}