.footer {
    background: var(--color-black);

    &-contact {

        p {
            font-family: inherit;
            font-weight: 400;
            font-size: var(--font-size-medium);
            line-height: 180%;
            color: var(--color-dark-gray);
        }

        .text {
            font-family: inherit;
            font-size: var(--font-size-medium);
            line-height: 180%;
            color: var(--color-white);
        }
    }

}

.footer-information {
    display: flex;
    padding-top: 300px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;

    &-text {
        font-family: inherit;
        font-weight: 500;
        font-size: var(--font-size-x-large);
        line-height: 28px;
        color: var(--color-white);
    }
}

.footer-contact {
    width: 50%;
}

.nav-link {
    font-family: inherit;
    font-weight: 500;
    font-size: var(--font-size-medium);
    line-height: 300%;
    color: var(--color-dark-gray);
    text-decoration: none;
}

@media only screen and (max-width: 830px) {
    .footer {
        &-information {
            flex-wrap: wrap;
            padding-top: 190px;
        }

        &-contact {
            width: 100%;
        }

        &-main {
            width: 50%;
        }
    }
}