<footer class="footer">
    <div class="container">
        <div class="footer-information">
            <div class="footer-contact">
                <img src="/assets/images/safeguard-black.svg" alt="Safeguard black">
                <p>We are specialist protecting your assets and reputation to make <br> sure you operate risk-free and
                    focus
                    on your
                    core business.</p>
                <p class="text">Address:</p>
                <p>Hobbemakade 29, 1071 XK, Amsterdam, Netherlands</p>
                <p class="text">E-mail:</p>
                <a href="email:safeguard_help@gmail.com" class="nav-link">safeguard_help@gmail.com</a>
            </div>

            <div class="footer-main">
                <p class="footer-main-text">Main</p>
                <a href="#home" class="nav-link">Home</a>
                <a href="#aboutUs" class="nav-link">About Us</a>
                <a href="#ourHistory" class="nav-link">Our history</a>
                <a href="#contactUs" class="nav-link">Contact Us</a>
            </div>
            <div class="footer-main">
                <p class="footer-main-text">Services</p>
                <a href="#trainingAndImplementation" class="nav-link">Training and Implementation</a>
                <a href="#cyberConsultants" class="nav-link">Cyber Consultants</a>
                <a href="#consultancyAndBrandProtection" class="nav-link">Consultancy and brand protection</a>
                <a href="#sotfware" class="nav-link">Sotfware</a>
            </div>

        </div>
    </div>
</footer>