<a href="#start" class="button-top"><img src="/assets/images/button-top.svg" alt="Button top" width="50" height="50"></a>

<section id="start" class="fool-header">
  <div class="container">
    <app-header></app-header>
    <section class="banner">
      <div class="half-block">
        <h2>Never Caught Off-Guard Again</h2>
        <p class="text-base content-description">We are specialist in protecting your assets and reputation to make sure
          you
          operate risk-free and focus on your
          core business.</p>
        <button class="button-raised-white">Learn More</button>
        <img class="banner-scroll" src="/assets/images/scroll.svg" alt="Scroll" width="21" height="85">
      </div>
      <div class="half-block half-block-image">
        <img class="banner-image" src="/assets/images/space-helmet.png" alt="Space helmet" width="826" height="647">
      </div>

    </section>
  </div>
</section>

<section class="benefits">
  <div class="container">
    <div class="benefits-item" *ngFor="let item of benefits">
      <p class="spending"><span class="highlight">{{item.count}}</span> {{item.currency}}</p>
      <p class="text-base">{{item.description}}
      </p>
    </div>
  </div>
</section>

<section class="global-description">
  <div class="container">
    <div class="half-block">
      <h3><span class="highlight">Who We</span> Are</h3>
      <p class="description-item">With our global footprint and our specialized team members and partners we know what
        it takes to make sure that
        we can deliver a minimum risk environment for our clients. <br><br> We know that timing is key, when to
        accelerate
        and when to slow down. Having our clients brand top of mind, we
        make sure that communication, teamwork and quality reports is a given.</p>
      <p class="our-team">A team dedicated to protect your assets and reputation:</p>
      <p class="our-team-item">Of experience in minimizing risk and protecting assets</p>
      <p class="our-team-item">Of experience in minimizing risk and protecting assets</p>
    </div>
    <div class="half-block">
      <img src="/assets/images/build.png" alt="Build" width="500" height="550">
    </div>
  </div>
</section>

<section class="our-work">
  <div class="container">
    <h3><span class="highlight">Who We</span> Do</h3>
    <div class="our-work-part">

      <div class="our-work-part-list" *ngFor="let item of partList">
        <div class="our-work-part-item">
          <div class="number">{{item.number}}</div>
          <h4 [innerHtml]="item.description"></h4>
        </div>
        <a href="#"><img class="our-work-image" [src]="item.image.src" [alt]="item.image.alt" width="270"
            height="476"></a>
      </div>
    </div>

    <div class="our-work-button">
      <button class="button-raised">Our Services</button>
      <button class="button-raised-white">Contact Us</button>
    </div>
  </div>
</section>

<section class="our-experience">
  <div class="container">
    <h3>Why We</h3>
    <p>A team dedicated to protect your assets and reputation.<br>With our global footprint and our specialized team
      members
      and <br> partners we know what it takes to make sure that we can deliver <br> a minimum risk environment for our
      clients.</p>

    <div class="our-experience-description">

      <div class="our-experience-item" *ngFor="let item of experienceList">
        <span>{{item.number}}</span>
        <p>{{item.title}}</p>
        <p class="shadow">{{item.description}}</p>
      </div>
    </div>
  </div>
</section>

<section class="our-benefits">
  <div class="container">
    <h3><span class="highlight">What We</span> Do</h3>

    <div class="our-benefits-desc">

      <div class="our-benefits-desc-clients" *ngFor="let item of ourWorks">
        <p [innerHtml]="item.title"></p>
        <p class="shadow">{{item.description}}</p>
        <a href="#" class="case-studies">{{item.link}}<img src="/assets/images/arrow-right.svg" alt="Arrow right"></a>
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>
<app-footer></app-footer>