.button-top {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    position: fixed;
    z-index: 100;
    right: 100px;
    bottom: 100px;
}

.fool-header {
    background: var(--color-orange);
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 9%;

    &-scroll {
        display: block;
        margin: 65px 0 55px;
    }
}

.half-block {
    flex: 0 0 50%;
    width: 50%;

    h2 {
        margin: 178px 0 33px;
    }

    .button-raised-white {
        margin-top: 63px;
        font-size: var(--font-size-large);
    }

    &-image {
        overflow: hidden;
        flex: 0 0 62%;
        width: 62%;
        padding-top: 50px;
    }
}

.fool-header {
    padding-top: 56px;
}

h2 {
    font-family: var(--font-anton);
    font-size: 68px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-black);
    line-height: 130%;
}

.content-description {
    line-height: 160%;
}

.benefits .container {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    gap: 10%;
}

.spending {
    font-family: inherit;
    font-weight: 700;
    font-size: var(--font-size-x-large);
    line-height: 28px;
    color: var(--color-black);
    text-align: center;
    margin: 0;
}

.benefits-item {
    width: 33.3%;

    .text-base {
        font-size: var(--font-size-medium);
        text-align: center;
        margin-top: 15px;
    }
}

.global-description {
    margin-top: 239px;
    position: relative;

    .container {
        display: flex;
        gap: 10%;
    }

    &:before {
        content: '';
        display: block;
        width: 37%;
        height: calc(100% + 120px);
        background-color: var(--color-light-gray);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        position: absolute;
        z-index: -1;
        right: 0;
        top: -60px;
    }
}

.description-item {
    font-family: inherit;
    font-weight: 400;
    font-size: var(--font-size-large);
    line-height: 180%;
    color: var(--color-black);
}

.our-team {
    font-family: inherit;
    font-size: var(--font-size-x-large);
    font-weight: 700;
    line-height: 160%;
    color: var(--color-black);
    margin-top: 60px;

    &-item {
        font-family: inherit;
        font-weight: 400;
        font-size: var(--font-size-large);
        line-height: 21px;
        color: var(--color-black);
        padding-left: 20px;
        position: relative;

        &:before {
            content: '';
            background: var(--color-orange);
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: 0;
            top: 5px;
            position: absolute;
        }
    }
}

.our-work {
    margin-top: 220px;

    &-part {
        display: flex;
        justify-content: space-between;
        margin-top: 116px;
        gap: 20px;
        overflow-y: overlay;

        p {
            font-family: inherit;
            font-weight: 700;
            font-size: var(--font-size-x-large);
            line-height: 160%;
            color: var(--color-black);
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 15px;
            min-height: 76px;
            margin-bottom: 51px;
        }
    }

    .number {
        width: 60px;
        height: 60px;
        background: var(--color-gray);
        border-radius: 12px;
        color: var(--color-orange);
        font-family: inherit;
        font-weight: 700;
        font-size: --font-size-x-large;
        line-height: 28px;
        padding: 16px 23px;
    }
}

.our-work-button {
    align-items: center;
    margin-top: 116px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.our-work-button .button-raised-white {
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.our-experience {
    background-color: var(--color-orange);
    margin-top: 160px;
    padding-bottom: 160px;

    h3 {
        padding-top: 160px;
    }

    p {
        color: var(--color-black);
        font-family: inherit;
        font-weight: 400;
        font-size: var(--font-size-large);
        line-height: 180%;
    }

    &-description {
        display: flex;
        gap: 30px;
        margin-top: 60px;
    }

    &-item {
        background: var(--color-white);
        border-radius: 12px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
        flex: 1;
        padding: 74px 0 30px;

        span {
            font-family: inherit;
            font-weight: 700;
            font-size: 90px;
            line-height: 103px;
            text-transform: 103px;
            color: var(--color-orange);
            display: block;
            text-align: center;
            margin-bottom: 15px;
        }

        p {
            margin: 0;
            font-family: inherit;
            font-size: var(--font-size-larger);
            line-height: 160%;
            text-align: center;
            font-weight: 700;
            color: var(--color-black);

            &:last-of-type {
                margin-top: 10px;
            }
        }
    }
}

.our-benefits {
    margin-top: 160px;

    &-desc-clients p {
        font-family: inherit;
        font-weight: 700;
        font-size: var(--font-size-x-large);
        line-height: 160%;
        color: var(--color-black);
    }
}

.our-benefits-desc {
    display: flex;
    margin-top: 75px;
    gap: 30px;

    &-clients {
        padding-left: 30px;
        flex: 1;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 60px;
            height: 60px;
            background-color: var(--color-light-gray);
            border-radius: 12px;
            position: absolute;
            z-index: -1;
            left: 0px;
            top: 10px;
        }

        p.shadow {
            text-align: left;
        }
    }
}

.case-studies {
    font-size: var(--font-size-medium);
    font-weight: 500;
    line-height: 18px;
    font-family: inherit;
    color: var(--color-orange);
    text-decoration: none;
    margin-top: 47px;
    display: inline-block;

    img {
        margin-left: 20px;
    }
}

p.shadow.shadow {
    font-weight: 400;
    font-size: var(--font-size-medium);
    line-height: 180%;
    text-align: center;
    color: var(--color-dark-gray);
}


@media only screen and (max-width: 1660px) {
    .banner {
        gap: 10px;
        justify-content: flex-start;

        &-image {
            width: 100%;
            height: auto;
        }
    }

    .half-block {
        flex: 0 0 40%;
        width: 40%;
    }

    .half-block-image {
        flex: 0 0 60%;
        width: 60%;
    }

}

@media only screen and (max-width: 1100px) {
    .banner {
        flex-direction: column;
    }

    .half-block {
        flex: 1;
        width: 100%;
    }
}

@media only screen and (max-width: 975px) {
    .global-description {
        background-color: var(--color-light-gray);
        margin-top: 70px;
        padding: 70px 0;

        &:before {
            content: none;
        }

        .half-block:last-of-type {
            display: none;
        }
    }

    .our-work {
        margin-top: 70px;
    }

    .our-experience {
        &-description {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &-item {
            padding-top: 30px;
        }
    }

}

@media only screen and (max-width: 830px) {
    .fool-header {
        padding-top: 40px;
    }

    .our-benefits-desc {
        flex-direction: column;

        &-clients p.shadow {
            color: var(--color-black);
        }
    }

    .benefits {

        .container {
            flex-direction: column;
            gap: 40px;
        }

        &-item {
            width: 100%;
        }
    }

    .button-top {
        bottom: 20px;
        right: 20px;
    }

    .banner h2 {
        margin: 65px 0 25px;
        font-size: var(--font-size-xx-large);
        padding-right: 28px;
    }

    .content-description,
    .description-item,
    .benefits-item .text-base,
    .our-team-item,
    .our-experience p {
        font-size: var(--font-size-x-small);
    }

    .half-block .button-raised-white {
        margin: 30px 0 48px;
    }

    .half-block-image {
        padding-top: 0;
        overflow: hidden;

        .banner-image {
            width: 115%;
        }
    }

    .banner {
        margin-bottom: 30px;
    }

    .banner-scroll {
        display: none;
    }

    .our-team {
        margin-top: 40px;
        font-size: var(--font-size-larger);
    }

    .global-description {
        margin-bottom: 74px;
    }

    .our-work-part {
        margin-top: 39px;
    }

    .our-work-button {
        margin-top: 50px;
    }

    .our-experience {
        margin-top: 70px;
        padding-bottom: 60px;

        h3 {
            padding-top: 50px;
        }

        &-item {
            span {
                font-size: var(--font-size-xxx-large);
                line-height: 57px;
            }

            p.shadow {
                font-size: var(--font-size-xxx-small);
                margin-top: 5px;
            }
        }
    }

    .our-benefits {
        margin-top: 70px;

        &-desc {
            margin-top: 15px;

            &-clients {
                p {
                    font-size: var(--font-size-larger);

                    &.shadow {
                        font-size: var(--font-size-x-small);
                    }
                }
            }
        }
    }

    .case-studies {
        margin-top: 20px;
        font-size: var(--font-size-x-small);
    }
}