:root {
    // Fonts
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-anton: 'Anton', sans-serif;

    // Font-size
    --font-size-large: 18px;
    --font-size-medium: 16px;
    --font-size-xxx-large: 50px;
    --font-size-x-large: 24px;
    --font-size-larger: 20px;
    --font-size-xx-small: 12px;

    // Colors
    --color-orange: #FFBC00;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #FBFBFB;
    --color-dark-gray: #999999;
    --color-light-gray: #F3F3F3;
    --color-silver: #CCCCCC;
    --color-cod-gray: #111111;
}